.insta{
  height:100px;
  width:80px;
}
.message{
  height:30px;
  width:30px;
  margin-top: 2rem;
}
.profile-image{
  height:50px;
  width:50px;
  border:2px solid;
  border-radius: 50%;
  border-color:lightcoral;
}
.margin-left{
  margin-left: 20px;
}
.left{
  margin-left:10px;
}
.postImage{
  height:400px;
  width:800px;
}
.like{
  height:30px;
  width:30px;
  margin-top: 1rem;
}